* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxheader {
    background-color: #f97731;
    border: 2px solid blue;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.Nombre {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}
nav { 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-right: 100px;
    padding-bottom: 10px;
     } 
    
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;    
}

.botones li{
    display: inline-block;    
}

.botones a {
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 25px;
    color: orangered;

    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    margin:20px;
    padding: 2px;
    background-color: #efb268;
    box-shadow: -3px 3px 10px #2b2b2a ;
   
    transition: 5s, color 10s;
    -webkit-transition: 5s, color 10s;
    -o-transition: 5s, color 10s;
    -moz-transition: 5s, color 10s;
    -ms-transition: 5s, color 10s;
}

.botones a:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -o-transform: translate(0px,5px);
    -moz-transform: translate(0px,5px);
    -ms-transform:translate(0px,5px);
}
.logo {
    margin-left: auto; 
    border: 4px solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
} 
   
.boxmain {
    background-color: #efb268;
    border: 2px solid rgb(7, 7, 82);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.boxaside{ 
    background-color: #efb268;
    border: 2px solid rgb(7, 7, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    float: right;
}
footer {
    background-color: #F57C02;
    border: 2px solid rgb(11, 229, 69);
   /* padding: 1em 0;*/
   text-align: center;
    margin-top: auto;
   /* width: 100%;
    height: 70px;*/
}

.buttons {
    min-width: 700px;
    display: flex;   
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 20px;
    width: 60px;
    height: 6opx;
    line-height: 60px;
    text-align: center;
    background: rgb(113, 25, 121);
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(14, 13, 13);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transition: scale (1.2);

}

/*
.cajaformulario{
    background-color: rgb(181, 207, 207) ;
    border: 3px solid rgb(37, 37, 82);
    width: 30%;
    height: auto;   
    padding: 10px 40px 10px 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.margen{ 
   margin-left: 90px;
} */

.boxmainv {
    background-color: #efb268;
    border: 2px solid rgb(7, 7, 82);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.boxasidev{ 
    background-color: #efb268;
    border: 2px solid rgb(7, 7, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 700px;
    float: right;
}
.contenedor-imagen img{
    display: block;
    margin-bottom: 20px;
    
}
.efecto-imagen {
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
    transition: all 0.3s ease-in-out; 
  }
  
.efecto-imagen:hover {
    transform: scale(1.1); 
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
  }